.main {
  background-color: black;  
  color: white;
}

.profile-pic {
  object-fit: cover;
  width: 230px;
  height: 230px;
  border-radius: 115px;
  margin-top: 150px;
}

.info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.bio {
  font-size: 40px;
  margin-bottom: 20px;
  padding-top: 70px;
}

.customHr {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-size: 1px;
  color: rgba(0, 0, 0, 0);
  line-height: 1px;
  background-color: grey;
  margin-top: -6px;
  margin-bottom: 10px;
}
