/* Mobile Styles */
@media (max-width: 576px) {
  #navbar {
    display: flex;
    justify-content: center;
    white-space: nowrap;
  }
  
  #navbar a {
    padding: 10px;
  }
  
  #navbar a:visited {
    background-color: black;
    color: white;
  }
  
  .main {
    margin-left: 10px;
    margin-right: 10px;
  }

  .skills_text {
    margin-left: 10px;
    margin-right: 10px;
  }

  .skills_section {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }

 .icons_left {
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 250px;
  }

  .icons_right {
    order: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 50px;
  }
  
}
